{##################}
{### POST List ###}
{##################}
<div class="post-list">
    <div class="post-list-title">
      # {{ next_url(post.path, post.title or __('post.untitled'), {class: 'post-title-link', itemprop: 'url'}) }}
    </div>
</div>
{######################}
{### END POST List ###}
{######################}
